# DEW HEATER (https://github.com/societa-astronomica-g-v-schiaparelli/dew_heater_bands_controller)
# Copyright (c) 2021-2022 Società Astronomica G.V. Schiaparelli
# Paolo Galli <paolo97gll@gmail.com>

aiohttp[speedups] == 3.8.1
aiohttp-sse == 2.1.0
gpiozero == 1.6.2
numpy == 1.22.3
RPi.GPIO == 0.7.1
skyfield == 1.42
ujson == 5.2.0
uvloop == 0.16.0
